* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

label {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.my-logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #202e34d4;
}

.menu {
  display: none;
}

.form-right {
  padding: 5rem 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  display: block;
  cursor: pointer;
}

.menu-toggle:hover .form-right {
  display: block;
}

.click-event {
  display: none;
}

.click-event.show {
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 60%;
  top: 0;
  bottom: 80%;
  background-color: #22404dd4;
  backdrop-filter: blur(6px);
  z-index: 99;
}

.close-btn {
  position: absolute;
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(244 239 239);
  left: 83%;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.close-btn:hover {
  color: rgb(187, 17, 17);
  font-size: 1.5rem;
}

.my-form,
.create-form {
  color: white;
  font-size: 1.2rem;
}

.create-form-cont {
  display: flex;
  width: 100vw;
  padding: 70px 1rem 0;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}

.row-cont {
  width: 80%;
  margin: auto;
}

.create-title {
  text-align: center;
}

.toggle-event {
  display: none;
}

.toggle-event.show {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 70px 1rem 0;
  font-size: 1.1rem;
  position: absolute;
  height: 100vh;
  left: 0;
  right: 40%;
  top: 0;
  background-color: #323334d4;
  backdrop-filter: blur(6px);
  z-index: 99;
  overflow: scroll;
}

.dynamic-form {
  padding-top: 60px;
  display: flex;
  height: 100vh;
  overflow: scroll;
  flex-direction: column;
  position: relative;
}

.preview-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.edit-form-container {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 100;
  pointer-events: none;
}

.edit-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  background: white;
  padding: 1rem;
  width: 400px;
  max-width: 80%;
  height: auto;
}

.preview-form h1 {
  text-align: center;
}

.preview-form p {
  line-height: 1.5;
  font-size: 1rem;
}

.form-fields {
  color: white;
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.form-list li {
  font-size: 1.2rem;
  cursor: pointer;
}

.field-add-btn {
  position: fixed;
  background-color: #555252;
  top: 15%;
  left: 2%;
  z-index: 1;
}

.field-cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.my-form-cont {
  padding: 70px 1rem 0;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .navbar {
    padding: 1rem 5rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .menu {
    display: block;
  }

  .menu.collapsed {
    display: none;
  }

  .click-event {
    display: block;
  }

  .close-btn {
    display: none;
  }

  .form-right {
    flex-direction: row;
    padding: 0;
    gap: 2rem;
    list-style: none;
    margin-right: 1rem;
    font-weight: bold;
  }

  .menu-toggle {
    display: none;
  }

  .my-form,
  .create-form {
    color: blueviolet;
  }

  .row-cont {
    width: 60%;
  }

  .form-start {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .form-start-btn {
    align-self: center;
  }

  .dynamic-form {
    flex-direction: row;
    position: static;
    gap: 10%;
  }

  .form-fields {
    width: 20%;
  }

  .field-add-btn {
    display: none;
  }

  .toggle-event {
    display: flex;
    position: static;
  }

  .preview-form {
    width: 40%;
  }

  .form-list {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #323334d4;
    flex-direction: column;
    gap: 1.5rem;
  }
}
